* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke; }

.bb {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  z-index: 0; }

h1 {
  margin: 0;
  padding: 0;
  font-family: "javacom";
  font-size: 50px;
  text-align: center; }

h2, h3, h4, h5, h6 {
  font-family: "Javacom"; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

#mySidenav a {
  position: absolute;
  right: -150px;
  transition: 0.3s;
  padding: 15px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 50px 0 0 50px;
  z-index: 500; }

#mySidenav a:hover {
  right: 0; }

#about {
  top: 120px;
  background-color: #707070;
  z-index: 500; }

#blog {
  top: 200px;
  background-color: #707070;
  z-index: 500; }

#projects {
  top: 280px;
  background-color: #707070;
  z-index: 500; }

#contact {
  top: 360px;
  background-color: #707070;
  z-index: 500; }

header {
  width: 100%;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 40px; }
  header h2 {
    font-size: 20px; }

.secTwoIndex {
  width: 100%;
  background-color: white;
  color: #707070;
  padding: 80px 40px;
  text-align: center; }
  .secTwoIndex h2 {
    font-size: 40px; }
  .secTwoIndex p {
    width: 100%;
    max-width: 500px;
    margin: 20px auto; }
  .secTwoIndex img {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 50px auto 30px auto; }

.secMarketing {
  background-image: url("../images/konkurrence-littlehappy-look2019-collage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px; }

.secMarketingInner {
  width: 100%;
  max-width: 900px;
  background-color: white;
  color: #707070;
  padding: 80px 40px;
  margin: auto;
  text-align: center; }
  .secMarketingInner h2 {
    font-size: 40px; }
  .secMarketingInner p {
    width: 100%;
    max-width: 500px;
    margin: 20px auto; }
  .secMarketingInner img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 50px auto 30px auto; }

.table {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: auto;
  max-width: 1000px;
  border: none; }
  .table .content {
    margin: 10px;
    padding: 30px;
    text-align: center;
    border: none; }
    .table .content img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      margin: 10px auto; }

.secInsta {
  background-image: url("../images/forside:vision.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px; }

.secInstaInner {
  width: 100%;
  background-color: white;
  color: #707070;
  text-align: center;
  padding: 80px 30px; }
  .secInstaInner h2 {
    font-size: 30px;
    margin: 20px auto;
    max-width: 600px; }
  .secInstaInner p {
    width: 100%;
    max-width: 500px;
    margin: 20px auto; }

.instaPicsRound {
  width: 100%; }

.roundImg1 {
  margin-left: 20px; }

.roundImg2 {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px; }

.roundImg3 {
  margin-left: 30px;
  top: 240px; }

.InstaPicsSquare {
  padding: 100px 20px; }

.squarePic {
  width: 100%;
  max-width: 700px;
  margin: auto; }
  .squarePic img {
    width: 100%;
    height: auto; }

footer {
  width: 100%;
  background-color: #707070;
  padding: 40px 40px 0 40px;
  color: white; }
  footer h2 {
    font-size: 35px;
    line-height: 40px; }
  footer a {
    text-decoration: none;
    color: white; }

.footerFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.bottomLine {
  margin-top: 40px;
  bottom: 10px;
  color: white;
  font-size: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }
  .bottomLine span {
    margin: 10px; }

@media screen and (max-width: 350px) {
  .Fsec h2 {
    margin: 0;
    font-size: 20px; }

  .secMarketing {
    padding: 20px; } }
@media screen and (min-width: 400px) {
  .secInstaInner h2 {
    font-size: 40px; }

  .instaPicsRound {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center; }

  .table .content img {
    width: 200px;
    height: 200px; } }
@media screen and (min-width: 768px) {
  .Fsec h2 {
    margin: 30px;
    font-size: 40px; }

  .secMarketing {
    padding: 60px; } }
@media screen and (min-width: 992px) {
  .Fsec h2 {
    margin: 40px;
    font-size: 50px; }

  .table .content img {
    width: 300px;
    height: 300px; } }

/*# sourceMappingURL=styles.css.map */
