// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
}

.bb{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  z-index: 0;
}


h1 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: "javacom";
  font-size: 50px;
  text-align: center;

}

h2, h3, h4, h5, h6{
  font-family: "Javacom";
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

//MENU
#mySidenav a {
  position: absolute;
  right: -150px;
  transition: 0.3s;
  padding: 15px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 50px 0 0 50px;
  z-index: 500;
}

#mySidenav a:hover {
  right: 0;
}

#about {
  top: 120px;
  background-color: #707070;
  z-index: 500;
}

#blog {
  top: 200px;
  background-color: #707070;
  z-index: 500;
}

#projects {
  top: 280px;
  background-color: #707070;
  z-index: 500;
}

#contact {
  top: 360px;
  background-color: #707070;
  z-index: 500;
}

// HEADER

header{
  width: 100%;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  h2{
    font-size: 20px;
  }
}

//FORSIDE

// MARKETING

// OM OS

//INSTAGRAM

//BRANDS

//FOOTER
footer{
  width: 100%;
  background-color: #707070;
  padding: 40px 40px 0 40px;

  color: white;

  h2{
    font-size: 35px;
    line-height: 40px;
  }

  a{
    text-decoration: none;
    color: white;
  }

}

.footerFlex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.bottomLine{
  margin-top: 40px;
  bottom: 10px;
  color: white;
  font-size: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  span{
    margin: 10px;
  }
}

@media screen and (max-width: 350px) {
  // Alt der ændres i tablet stående fra mobil

  //FORSIDE
  .Fsec {
    h2{
      margin: 0;
      font-size: 20px;
    }
  }


  // MARKETING

  // OM OS

  //INSTAGRAM

  //BRANDS

  //FOOTER


}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil

  //FORSIDE
  .Fsec {
    h2{
      margin: 30px;
      font-size: 40px;
    }
  }


  // MARKETING

  // OM OS

  //INSTAGRAM

  //BRANDS

  //FOOTER


}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående


  //FORSIDE
  .Fsec{
    h2{
      margin: 40px;
      font-size: 50px;
    }
  }

  // MARKETING

  // OM OS

  //INSTAGRAM

  //BRANDS

  //FOOTER


}

